body {
    font-family: sans-serif;
}

table {
    border-bottom: solid 1px #ccc;
    border-collapse: collapse;
}

tr.yes {
    background-color: #cfc;
}

tr.maybe {
    background-color: #ffc;
}

td {
    border-top: solid 1px #ccc;
    padding: 3px;
}

a {
    color: inherit;
    text-decoration: none
}

a:hover {
    color: #f33;
}

a:visited {
    color: #999;
}